# Ignore Gradle project-specific cache directory
.gradle
gradle.properties

# Ignore Gradle build output directory
build

# Ignore package files
*.ear
*.war
*.jar

# IntelliJ IDEA
.idea

# Ignore generated JSON files
*.json

# Don't ignore gradle wrapper
!gradle/wrapper/gradle-wrapper.jar
