# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore package files
*.ear
*.war
*.jar

# IntelliJ IDEA
.idea

# Don't ignore gradle wrapper
!gradle/wrapper/gradle-wrapper.jar
